
$navbarColor: #131e29;
$navbarLetterColor: #fff;
$navbarMenuColor: #fff;
$navbarMenuColorText: #0e0d0d;
$iconsColor: grey;
$heart: rgb(218, 95, 115);
$colorSubNav: rgb(177, 160, 163) ;

//searchBar
$searchBarBackgroundColor: #f0f0f0;
$searchBarInputBorderColor: #ccc;
$searchBarButtonColor: #333;
$searchBarButtonBackgroundColor: #ddd;